<!--
    Student’s Name: Jorge Fergusson Ossa
    StudentID: 301258165
    Date: 06/14/2023
  
    partial artial to create a project card
  -->

<div class="card" style="width: 19rem">
  <img src="/img/web_dev.jpg" class="card-img" alt="..." />
  <div class="card-body">
    <h5 class="card-title"><%= projectName %></h5>
    <p class="card-text"><%= projectDescr %></p>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><%= item1 %></li>
    <li class="list-group-item"><%= item2 %></li>
    <li class="list-group-item"><%= item3 %></li>
  </ul>
  <div class="card-body"></div>
</div>
