<%- include partials/header.ejs %> <%- include partials/top_nav.ejs %>
<main class="container">
  <div class="container">
    <br />
    <div class="row">
      <div class="col-12"><h1 id="Title"><%= title %></h1></div>
    </div>
    <br />
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-4">
            <img
              src="/img/jorge.jpg"
              alt=""
              srcset=""
              id="Photo"
              class="rounded-circle"
            />
          </div>
          <div class="col-7">
            <h2 id="Mision">Jorge Fergusson Ossa</h2>

            <ul>
              <li>
                <b>Bachelor's degree in Computer Science</b> and over a decade
                of experience
              </li>
              <li><b>PMP</b> & <b>Scrum Master</b></li>
              <li>
                Experience with IT SDLC for Government/Public Companies in
                Utilities (Energy)
              </li>
              <li>
                Enrolled at <b>Centennial College</b> in Software Engineering
                Technician Program.
              </li>
              <li>Azure Developer in training.</li>
            </ul>
          </div>
        </div>
        <br />
      </div>

      <div class="col-3"><%- include partials/skills.ejs %></div>
    </div>
    <div class="col-12"><%- include partials/badges.ejs %></div>
  </div>
</main>

<%- include partials/footer.ejs %> <%- include partials/bottom_nav.ejs %>
