<%- include partials/header.ejs %> <%- include partials/top_nav.ejs %>
<main class="container">
  <div class="container">
    <br />
    <div class="row">
      <div class="col-12"><h1 id="Title"><%= title %></h1></div>
    </div>
    <br />

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <div class="Service">
          <div class="SCard SImage">
            <i class="fa-solid fa-code fa-lg iconService"></i>
          </div>
          <div class="SCard SDesc">Web Application Development</div>
        </div>
        <div class="Service">
          <div class="SCard SImage">
            <i class="fa-solid fa-cloud-arrow-up fa-lg iconService"></i>
          </div>
          <div class="SCard SDesc">Cloud migration Assesstments</div>
        </div>
        <div class="Service">
          <div class="SCard SImage">
            <i class="fa-solid fa-chart-gantt fa-lg iconService"></i>
          </div>
          <div class="SCard SDesc">IT Project Management</div>
        </div>
      </div>
      <div class="col-4">
        <div class="Service">
          <div class="SCard SImage">
            <i class="fa-solid fa-list-check fa-lg iconService"></i>
          </div>
          <div class="SCard SDesc">Business requirements</div>
        </div>
        <br />
        <div class="Service">
          <div class="SCard SImage">
            <i class="fa-solid fa-laptop-medical fa-lg iconService"></i>
          </div>
          <div class="SCard SDesc">Applications Support</div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</main>

<%- include partials/footer.ejs %> <%- include partials/bottom_nav.ejs %>
